@model IEnumerable<SMPerformance.Models.TeamMetricListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EvalId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScrumMaster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fiscalyear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiscalQuarter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingOfPerformance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.EvalId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Team)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ScrumMaster)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Fiscalyear)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FiscalQuarter)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RatingOfPerformance)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
